// A helper for defining breakpoints
@mixin breakpoint($point) {
    @if $point=='lg' {
        @media (min-width: 992px) {
            @content ;
        }
    }

    @else if $point=='md' {
        @media (min-width: 768px) {
            @content ;
        }
    }

    @else if $point=='sm' {
        @media (min-width: 576px) {
            @content ;
        }
    }
}

// Color variables
$black: #000000ff;
$blackTransparent: rgba(0, 0, 0, 0.4);
$yellow: #fee342ff;
$yellowTransparent: rgba(254, 226, 66, 0.4);
$blue: #16e1b6ff;
$blueTransparent: rgba(22, 225, 181, 0.4);
$darkgrey: #454c4eff;
$lightgrey: rgb(225, 233, 235);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');

// Common styles
html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $black;
}

.container {
    font-family: 'Nunito', sans-serif;
}

.btn {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    border: 3px;
}

.btn-primary {
    background-color: $blueTransparent !important;
    color: $blue !important;
    border-color: $blue !important;

    &:hover {
        text-shadow: 0 0 3px $blue;
        box-shadow: 0 0 5px $blue;
    }
}

.btn-danger {
    background-color: $yellowTransparent !important;
    border-color: $yellow !important;
    color: $yellow !important;

    &:hover {
        text-shadow: 0 0 3px $yellow;
        box-shadow: 0 0 5px $yellow;
    }

    // clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}

h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-container {
    padding: 1em;
    background-color: $darkgrey;
    color: white;
}

// Navbar
.navbar {
    background-color: $black;
    font-family: 'Roboto Condensed', sans-serif;

    .navbar-brand {
        color: $yellow;
        font-size: 3em;
        text-transform: uppercase;
        text-shadow: 0 0 10px $yellow;

        &:hover {
            text-decoration: underline;

        }
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding: 0 5px 0 5px;
        text-transform: uppercase;

        a {
            color: $blue;
            text-shadow: 0 0 3px $blue;
        }
    }
}


// Dashboard
.table-operations {
    display: block;

    @include breakpoint(md) {
        display: flex;
    }
}

// Chat
.my-message {
    margin: auto 0 1rem auto;
}

.chat-container {
    max-height: 89vh;
}

.main-nav {
    height: 10vh;
}

.chat-list-item {
    &:hover {
        background-color: grey;
        cursor: pointer;
    }
}

//Player pages
.player-controls {
    height: 80vh;
    justify-content: space-around;
    flex-direction: column;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include breakpoint(md) {
        height: auto;
        flex-direction: row;

        a {
            display: inline-block;
        }
    }
}

//Character editor
.pell-content {
    height: 200px;
    background-color: $lightgrey;
    color: $black;
}

// .pell-actionbar {
//     background-color: $black;
//     color: $blue;
// }

.form-control,
.form-select {
    background-color: $lightgrey !important;
}