// A helper for defining breakpoints
@mixin breakpoint($point) {
    @if $point=='lg' {
        @media (min-width: 992px) {
            @content ;
        }
    }

    @else if $point=='md' {
        @media (min-width: 768px) {
            @content ;
        }
    }

    @else if $point=='sm' {
        @media (min-width: 576px) {
            @content ;
        }
    }
}

// Common styles
html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

// Dashboard
.table-operations {
    display: block;

    @include breakpoint(md) {
        display: flex;
    }
}

// Chat
.my-message {
    margin: auto 0 1rem auto;
}

.chat-container {
    max-height: 89vh;
}

.main-nav {
    height: 10vh;
}

.chat-list-item {
    &:hover {
        background-color: grey;
        cursor: pointer;
    }
}

//Player pages
.player-controls {
    height: 80vh;
    justify-content: space-around;
    flex-direction: column;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include breakpoint(md) {
        height: auto;
        flex-direction: row;

        a {
            display: inline-block;
        }
    }
}